{% include header.html %}

  <div class="container">
    <div class="article">
      <article>
        <div class="post-date">
          Last Updated: 1/25/19
        </div>

        <h1 class="post-title">
          Sample Work
        </h1>
        <div class="post-body">
          Blah<br><br>Blah<br>Blah
        </div>

        <h1 class="post-title">
          Employment History
        </h1>
        <div class="post-body">
          Blah<br><br>Blah<br>Blah
        </div>

        <h1 class="post-title">
          Education
        </h1>
        <div class="post-body">
          Blah<br><br>Blah<br>Blah
        </div>

        <h1 class="post-title">
          Frequently Asked Questions
        </h1>
        <div class="post-body">
          Blah<br><br>Blah<br>Blah
        </div>

        <h1 class="post-title">
          Press Coverage
        </h1>
        <div class="post-body">
          Blah<br><br>Blah<br>Blah
        </div>

      </article>
    </div>
  </div>

{% include footer.html %}
