{% include header.html %}

  <div class="container">

    <!-- comment to database -->

    <!--email to subscribe list -->

    <!--post to email list -->

    <!-- login user / pass  create -->

    <!-- visit page comment (only login else button "you must login create acct") -->
    <form action="http://example.com/login" method="POST" data-type="text" id="login-form">
      <input type="text" name="username" value="user" />
      <input type="password" name="password" value="mypass" />
      <label>
        <input type="checkbox" name="remember" /> Remember me
      </label>
      <button type="submit">Login</button>
    </form>

    <!-- search partial string is comment in db? full entry -->

  </div>

{% include footer.html %}
